<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 这个文件中编写sql语句 -->
<!-- xml 可以作为配置文件。 -->
<mapper namespace="com.gzyz.mapper.users.UserListMapper">
	
	<!--resultMap  -->
	<resultMap  type="Usercart" id="UserCarMapper">
		<id column="user_id" property="user_id"/>
		<result column="user_name" property="user_name"/>
		<collection property="cart" ofType="cart">
				<id column="rec_id" property="rec_id"/>
				<result column="goods_id" property="goods_id"/>
				<result column="goods_name" property="goods_name"/>
				<result column="goods_price" property="goods_price"/>
				<result column="goods_number" property="goods_number"/>
				<result column="goods_sn" property="goods_sn"/>
		</collection>
	</resultMap>
	
	<!--查询分页用户  -->
	<select id="selectAllUser" resultType="com.gzyz.bean.users.extend.Userdate" parameterType="int" >
		select * from user limit #{page},16
	</select>
	
	<select id="selectusernumber" resultType="int">
		select count(*) from user
	</select>
	
	<select id="selectuserToMh" resultType="com.gzyz.bean.users.extend.Userdate" parameterType="String">
		select * from user where user_name like '%${value}%'
	</select>
	<select id="selectuserByid" resultType="com.gzyz.bean.users.extend.Userdate" parameterType="int">
		select * from user where user_id=#{id}
	</select>
	
	<select id="selectCart" resultType="com.gzyz.bean.users.cart" parameterType="int" >
		select * from cart limit #{page},16
	</select>
	<select id="selectuser" resultMap="UserCarMapper" parameterType="int">
		select u.user_id user_id,u.user_name user_name,c.rec_id rec_id, c.goods_id goods_id,c.goods_name goods_name,c.goods_sn goods_sn,c.goods_price goods_price,c.goods_number goods_number
 		from user u JOIN cart c on u.user_id=c.user_id
 		ORDER BY u.user_id ASC 
 		limit #{page},16
	</select>
	<select id="countusercart" resultType="int">
		select count(*) from user u JOIN cart c on u.user_id=c.user_id
	</select>
	
	<select id="selectcartToMh" resultMap="UserCarMapper" parameterType="String">
		select u.user_id user_id,u.user_name user_name,c.rec_id rec_id, c.goods_id goods_id,c.goods_name goods_name,c.goods_sn goods_sn,c.goods_price goods_price,c.goods_number goods_number
 		from user u JOIN cart c on u.user_id=c.user_id 
 		where u.user_name like '%${value}%'
	</select>
	<select id="selectcartByid" resultMap="UserCarMapper" parameterType="int">
		select u.user_id user_id,u.user_name user_name,c.rec_id rec_id, c.goods_id goods_id,c.goods_name goods_name,c.goods_sn goods_sn,c.goods_price goods_price,c.goods_number goods_number
 		from user u JOIN cart c on u.user_id=c.user_id 
 		where u.user_id like '%${value}%'
	</select>
</mapper>	
